---
import ReserveBtn from "../ReserveBtn.astro";
---

<div class="bg-slate-950 overflow-hidden relative lg:flex lg:items-center px-10" id="cabañas">
  <div
    class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20 animate__animated animate__fadeInUp"
  >
    <h2 class="text-lg font-bold leading-6 text-white mt-6">
      <span class="block lg:text-left text-center">
        Ser uno con el universo
      </span>
    </h2>
    <p class="text-md mt-4 text-gray-300 lg:text-left text-center">
      Nuestras cabañas emulan las icónicas casas alpinas con su característica
      forma triangular y cálida estética rústica. La madera y el sutil negro se
      combinan para una experiencia elegante y relajante.
    </p>
    <h2 class="text-lg font-bold leading-6 text-white mt-6">
      <span class="block lg:text-left text-center">
        En el jacuzzi, la mente flota en serena espuma
      </span>
    </h2>
    <p class="text-md mt-4 text-gray-300 lg:text-left text-center">
      Descubre un nivel superior de lujo en nuestras cabañas con el jacuzzi como
      joya principal. Personaliza tu experiencia eligiendo su ubicación, ya sea
      en el interior para mayor intimidad o en el exterior para una conexión más
      profunda con la naturaleza.
    </p>
    <ReserveBtn />
  </div>
  <div
    class="flex items-center gap-8 p-8 lg:p-24 animate__animated animate__fadeIn"
  >
    <img
      src="/cabin4.webp"
      class="rounded-lg ring-1 ring-gray-400 shadow-lg shadow-slate-700 "
      alt=""
    />
  </div>
</div>
