---
import ReserveBtn from '../ReserveBtn.astro'
---

<section class="w-full bg-slate-950 py-20">
  <div class="relative max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
    <div
      class="max-w-lg mx-auto overflow-hidden rounded-lg shadow-lg pricing-box lg:max-w-none lg:flex"
    >
      <div class="px-6 py-8 bg-slate-900 lg:flex-shrink-1 lg:p-12">
        <h3
          class="text-2xl font-extrabold leading-8 sm:text-3xl sm:leading-9 text-white"
        >
          ¿Ya te imaginaste en esta experiencia Mistyka?
        </h3>
        <p class="mt-6 text-base leading-6 text-gray-200">
          Dejá la rutina atras y reservá ahora con nosotros. ¡No te pierdas la oportunidad de darle a tu alma ese profundo relax que tanto anhela!
        </p>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-white uppercase"
            >
              ¿Qué incluye?
            </h4> 
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Acceso ilimitado al spa
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Todas las toallas que necesites
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Bar y Restaurant siempre a su disposición 
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Pluto TV en todas las pantallas
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Gym 24/7
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Fotos con tus idolos en bata
              </p>
            </li>
            <li class="flex items-start lg:col-span-1">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#10b981"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p
                class="ml-3 text-sm leading-5 text-gray-200"
              >
                Sesiones de yoga al amanecer
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="px-6 py-8 text-center bg-slate-800 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12"
      >
        <p class="text-lg font-bold leading-6 text-white">
          Pack Mental Free 2 noches
        </p>
        <span class="text-white animate-pulse ease-out" >OFERTA WEB</span>
        <div
          class="flex items-center justify-center mt-4 text-5xl font-extrabold leading-none text-white"
        >
          <span>$79</span>
        </div>
        <div class="mx-auto">
            <ReserveBtn/>
      </div>
    </div>
  </div>
</section>
