<div
  class="flex flex-col items-center w-full gap-4 p-8 md:flex-row md:mb-0 flex-between bg-slate-900 "
>
  <div class="bg-indigo-900 w-72 shadow-lg mx-auto rounded-xl p-4 ring-2 ring-indigo-800 ">
    <p class="text-white">
      <span class="text-lg font-bold text-white"> “</span>
      Me vine corriendo porque me dijeron que vieron un espiritu pero al final era
      Nestor Gandulia en bata, 10/10 el spa.
      <span class="text-lg font-bold text-white"> ”</span>
    </p>
    <div class="flex items-center mt-4">
      <a href="#" class="relative block">
        <img
          alt="profil"
          src="/guille.jpg"
          class="mx-auto object-cover rounded-full h-10 w-10"
        />
      </a>
      <div class="flex flex-col justify-between ml-2">
        <span class="text-sm font-semibold text-white">
          Guillermo Lockhart
        </span>
        <span class="flex items-center text-xs text-gray-200">
          Creador de Voces anonimas
        </span>
      </div>
    </div>
  </div>
  <div class="bg-indigo-900 w-72 shadow-lg mx-auto rounded-xl p-4 ring-2 ring-indigo-800 ">
    <p class="text-white">
      <span class="text-lg font-bold text-white"> “</span>
      Me crucé a Guillermo el otro dia, hermoso lugar para reconectarse con uno mismo
      y los suyos. Amé sus cabañas.
      <span class="text-lg font-bold text-white"> ”</span>
    </p>
    <div class="flex items-center mt-4">
      <a href="#" class="relative block">
        <img
          alt="profil"
          src="/nestor.jpeg"
          class="mx-auto object-cover rounded-full h-10 w-10"
        />
      </a>
      <div class="flex flex-col justify-between ml-2">
        <span class="text-sm font-semibold text-white"> Nestor Gandulia</span>
        <span class="flex items-center text-xs text-gray-200">
          Psicologo, profesor, autor y narrador
        </span>
      </div>
    </div>
  </div>
  <div class="bg-indigo-900 w-72 shadow-lg mx-auto rounded-xl p-4 ring-2 ring-indigo-800 ">
    <p class="text-white">
      <span class="text-lg font-bold text-white"> “</span>
      Se viene un eclipse solar y me vine a pasar unos dias en este oasis divino.
      Mucha energia se mueve en el lugar. ¡Recomendado!.
      <span class="text-lg font-bold text-white"> ”</span>
    </p>
    <div class="flex items-center mt-4">
      <a href="#" class="relative block">
        <img
          alt="profil"
          src="/veronica.webp"
          class="mx-auto object-cover rounded-full h-10 w-10"
        />
      </a>
      <div class="flex flex-col justify-between ml-2">
        <span class="text-sm font-semibold text-white"> Veronica Lavalle</span>
        <span class="flex items-center text-xs text-gray-200"> Astróloga</span>
      </div>
    </div>
  </div>
</div>
