---
import Layout from "../layout/Layout.astro";
---

<Layout pageTitle={"About"}>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nam
        tempore ea. Adipisci, nesciunt recusandae.
    </h1>
</Layout>
