<div
  class="slideshow touch-pan-x p-10 py-32 flex flex-nowrap overflow-x-auto gap-10 bg-slate-950"
id="servicios">
  <img
    src="dor1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="dor2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="gym1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="gym2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="gym3.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="masa1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="masa2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="rec1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="rec2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="comedor1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="comedor2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="bao3.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="sala1.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
  <img
    src="sala2.webp"
    alt="Cinque Terre"
    class="w-80 h-80 hover:scale-105 duration-500 rounded-md ring-1 ring-gray-400 lg:opacity-80 hover:opacity-100"
  />
</div>

<style>
  .slideshow {
    scrollbar-width: none;
  }
</style>
